.link {
  color: DarkOrchid;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.header {
    display: flex;
    align-items: center;
}

.h {
  flex: 1;
  font-family: "Poppins", sans-serif;
  font-size: 90px;
}
