.title {
  color: green;
  font-family: "Poppins", sans-serif;
  text-align: ;
  font-size: 90px;
}

.link {
  color: DarkOrchid;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-align: center;
}

.header {
    display: flex;
    align-items: center;
}

h1 {
    flex: 1;
}

img {
    margin-left: 20px;
}
