/* Allgemeine Stile */
body {
    font-family: "Poppins", sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

/* Header-Stile */
.header {
    display: flex; /* Nutze Flexbox für die Anordnung */
    align-items: center;
    padding: 20px;
}

.title {
    flex: 1;
    font-size: 72px;
    margin: 0; /* Entfernt die Standardabstände des h1-Elements */
}

.logo {
    max-width: 72px;
    margin-left: 20px;
}

/* Link-Stile */
.link {
    color: DarkOrchid;
    font-size: 20px;
    margin-top: 20px;
}
